mixin menu(arr)
    each item in arr
        li
            -var url = item.path && item.path.replace(/^\/?/, '/').replace(/\s+/g, '-') + '.html';
            a(href="#{url}", title="#{item._id}")!= item.title
            if item.children
                mixin menu(item.children)

!!!5
html
    head
        title Macondo Example
            
    body
        h1 Macondo Example
        nav
            ul
                li
                    a(href="/") Home
                mixin menu(pageMenu)

        block body
