!!!5
html
    head
        title Macondo Example
            
    body
        h1 Macondo Example
        h2 Page Menu
            ul
                each item in pageMenu
                    li
                        -var url = item.path && item.path.replace(/^(\/)/, '/').replace(/\s+/g, '-');
                        a(href="#{url}", title="#{item._id}")!= item.title
